<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Page</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/account-style.css">
    <link rel="stylesheet" href="/stylesheets/navbar-style.css">
</head>
<body>
    <div class="navbar">
        <a href="../home-page/home-page.html">Home</a>
        <a href="../create-listing-page/create-listing.html">Create Listing</a>
        <a href="../messages-page/messages.html">Messages</a>
        <div class="navbar-right">
            <a href="../help-page/help-page.html">Help</a>
            <a class="active" href="../account-page/account.html">Account</a>
        </div>
    </div>
    <div class="container">
        <div class="box">
            <div class="box-content">
                <h2 class="header">Account Details</h2>
                <ul class="list1">
                    <li>Change Username</li>
                    <li>Change Email</li>
                    <li>Change Password</li>
                    <li>Change Shipping Details</li>
                </ul>
            </div>
        </div>
        <div class="box">
            <div class="box-content">
                <h2 class="header">Active Listings</h2>
                <ul class="list3">
                    <li>No Items Currently Listed</li>
                </ul>
            </div>
        </div>
        <div class="box">
            <div class="box-content">
                <h2 class="header">Past Purchases</h2>
                <ul class="list2">
                    <li>
                        <div class="item-box">Listing 1<br> Bought Feb 22 2025</div>
                    </li>
                    <li>
                        <div class="item-box">Listing 2<br> Bought Jan 30 2025</div>
                    </li>
                    <li>
                        <div class="item-box">Listing 3<br> Bought Dec 13 2024</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>