<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help Page</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/help-style.css">
    <link rel="stylesheet" href="/stylesheets/navbar-style.css">
</head>

<body>
    <div class="navbar">
        <a href="../home-page/home-page.html">Home</a>
        <a href="../create-listing-page/create-listing.html">Create Listing</a>
        <a href="../messages-page/messages.html">Messages</a>
        <div class="navbar-right">
            <a class="active" href="../help-page/help-page.html">Help</a>
            <a href="../account-page/account.html">Account</a>
        </div>
    </div>
    <div class="container">
        <h2>Frequently Asked Questions</h2>
        <ul>
            <li class="question"><b>How do I list an item for sale?</b></li>
            <li class="answer">Once logged in, navigate to the Create Listing page and fill out the provided form.</li>

            <li class="question"><b>How do I change my account details?</b></li>
            <li class="answer">Simply navigate to the Account page and select the information you would like to change.</li>

            <li class="question"><b>How can I contact a seller?</b></li>
            <li class="answer">You can use our built-in messaging system found in the Messages page to communicate directly with sellers.</li>
        </ul>

        <h2>Contact us!</h2>
        <li class="info">123-456-7890</li>
        <li class="info">email@example.com</li>
    </div>
</body>

</html>
