<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/messages-style.css">
    <link rel="stylesheet" href="/stylesheets/navbar-style.css">
</head>
<body>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/create-listing">Create Listing</a>
        <a class="active" href="/messages">Messages</a>
        <div class="navbar-right">
            <a href="/help">Help</a>
            <a href="/account">Account</a>
            <a href="/signup">Sign up</a>
            <a href="/login">Log in</a>
        </div>
    </div>
    <div class="container">
        <div class="box1">
            <div class="box-content">
                <h2 class="header">Contacts</h2>
                <ul class="list">
                    <li>Jim</li>
                    <li>Joe</li>
                    <li>Kelly</li>
                </ul>
            </div>
        </div>
        <div class="box2">
            <div class="box-content">
                <h2 class="header">Jim</h2>

                <div class="boxes-container">
                    <div class="box left">Sample Message</div>
                    <div class="box right">Sample Message</div>
                    <div class="box right">Sample Message</div>
                    <div class="box left">Sample Message</div>
                    <div class="box left">Sample Message</div>
                    <div class="box right">Sample Message</div>
                </div>

                <div class="input-container">
                    <input type="text" placeholder="Enter Message" id="messageInput">
                    <button type="submit" id="submitBtn">Send</button>
                </div>

            </div>
        </div>
    </div>
</body>
</html>