* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.listing-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    text-align: center;
    justify-self: center;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

    .input-group label {
        font-size: 14px;
        color: #333;
        margin-bottom: 5px;
        display: block;
    }

    .input-group input {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-top: 5px;
    }

        .input-group input:focus {
            border-color: #9c0808;
            outline: none;
        }

.list-btn {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    background-color: #9c0808;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    .list-btn:hover {
        background-color: #5f0606;
    }

.cancel-btn {
    width: 25%;
    padding: 10px;
    font-size: 16px;
    background-color: #333;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    .cancel-btn:hover {
        background-color: #330;
    }

.quality-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 10px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18%;
    padding: 20px;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease;
}

    .box:hover {
        background-color: #444;
    }

.selected {
    background-color: #9c0808;
}